@import './same';

 * {
     @extend *;
 }

body {
    overflow-x: hidden;
    
}

#tsparticles {
    position: fixed;
    z-index: -10;
}

.main {
    width: 100vw;
    height: 100vh;
    color: white;
    
    .logo {
        font-weight: 900;
        position: absolute;
        width: 20%;
        font-size: 38px;
        color: white;
        letter-spacing: 2px;
        padding: 35px 0px 0px 50px;
        span {
            color: #ff4500;
        }
    }
    nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    align-items: center;
    
    ul {
        justify-content: center;
        align-items: center;
        display: flex;
        list-style: none;
        flex-direction: row;
        gap: 50px;
        font-size: 25px;
        position: relative;
        margin-top: 2%;

        a {
        text-decoration: none;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .6s ease;
        padding: 10px 12px 10px 12px;
        border-radius: 30px;
        cursor: pointer;
        &:hover {
            background: orangered;
            border-radius: 30px;
            transform: translateY(-10px) scale(1.1);
            overflow: auto;
            margin: -40px;   
        }
        .fa-solid {
            font-size: 15px;
    }
}    
}
}
  .content {
    position: absolute;
    width: 40%;
    text-align: center;
    margin-top: 1%;
    margin-left: 4%;

    .arrow {
        color: orangered;
        font-size: 130px;
    }
    h4 {
        color: rgb(255, 202, 156);
        font-weight: 100;
        font-size: 50px;
        text-align: left;
        margin-left: 17%;
        margin-top: -10%;
    }
    h1 {
        color: whitesmoke;
        font-size: 75px;
        text-align: center;
        font-weight: 900;
    }
    h3 {
        color: orangered;
        font-weight: 200;
        position: relative;
        left: -12%;
        text-align: center;
        margin-top: -2%;
        font-size: 40px;
    }

    .arrowL {
        text-align: left;
        margin-left: 5%;
      margin-top: 15%;

    }
    .arrowR {
        position: absolute;
        left: 85%;
        margin-top: -18%;
    }
    .download {
        color: white;
        font-weight: 400;
        font-size: 20px;
      padding: 11px 9px;
      border: 2px solid orangered;
      border-radius: 50px;
      text-decoration: none;
      margin-left: -15%;
      transition: .4s all linear;
      &:hover {
        background-color: orange;
        color: black;
      }
    }
    }
   .imges {
    .frontimg {
        position: absolute;
    top: 21%;
    width: 30%;
    height: 65%;
    left: 60%;
}
   }
  }  

